<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle
    Id="$(var.BundleCode)"
    Name="Dominium"
    Version="$(var.ProductVersion)"
    Manufacturer="$(var.Manufacturer)"
    UpgradeCode="$(var.BundleUpgradeCode)"
    Compressed="yes"
    PerMachine="no"
    DisableModify="no"
    <?if $(var.BundleIcon) != ""?>
    IconSourceFile="$(var.BundleIcon)"
    <?endif?>
    >

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="$(var.LicenseFile)"
        <?if $(var.BundleLogo) != ""?>
        LogoFile="$(var.BundleLogo)"
        <?endif?>
        SuppressOptionsUI="no"
        SuppressRepair="no"
        SuppressRemove="no"
        ShowVersion="yes"
        LogPathVariable="WixBundleLog" />
    </BootstrapperApplicationRef>

    <Variable Name="MsiLogName" Value="Dominium-%Y%m%d-%H%M%S.log" bal:Overridable="yes" />

    <Chain>
      <MsiPackage
        Id="DominiumMsi"
        SourceFile="$(var.MsiPath)"
        Visible="no"
        DisplayInternalUI="no"
        Compressed="yes"
        Vital="yes"
        LogPathVariable="MsiLogName" />
    </Chain>
  </Bundle>
</Wix>
