<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI Id="DominiumSetupUI">
      <UIRef Id="WixUI_Common" />

      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="MaintenanceWelcomeDlg" />
      <DialogRef Id="MaintenanceTypeDlg" />
      <DialogRef Id="InstallDirDlg" />
      <DialogRef Id="CustomizeDlg" />
      <DialogRef Id="VerifyReadyDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ExitDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="CancelDlg" />

      <Dialog Id="OperationDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes"
                 Text="{\WixUI_Font_Title}Select Operation" />
        <Control Id="Description" Type="Text" X="20" Y="23" Width="330" Height="30"
                 Text="Choose the installer operation for this session." />
        <Control Id="OperationRadio" Type="RadioButtonGroup" X="20" Y="60" Width="330" Height="60" Property="DSU_OPERATION">
          <RadioButtonGroup Property="DSU_OPERATION">
            <RadioButton Value="install" X="0" Y="0" Width="300" Height="17" Text="Install (fresh)" />
            <RadioButton Value="upgrade" X="0" Y="20" Width="300" Height="17" Text="Upgrade existing install" />
          </RadioButtonGroup>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="NewDialog" Value="InstallModeDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Dialog Id="InstallModeDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes"
                 Text="{\WixUI_Font_Title}Select Install Mode" />
        <Control Id="Description" Type="Text" X="20" Y="23" Width="330" Height="30"
                 Text="Quick installs recommended components; Custom lets you choose." />
        <Control Id="ModeRadio" Type="RadioButtonGroup" X="20" Y="60" Width="330" Height="60" Property="DSU_INSTALL_MODE">
          <RadioButtonGroup Property="DSU_INSTALL_MODE">
            <RadioButton Value="quick" X="0" Y="0" Width="300" Height="17" Text="Quick Install (recommended)" />
            <RadioButton Value="custom" X="0" Y="20" Width="300" Height="17" Text="Custom Install" />
          </RadioButtonGroup>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="OperationDlg">NOT Installed</Publish>
          <Publish Event="NewDialog" Value="MaintenanceTypeDlg">Installed</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="SetProperty" Property="INSTALLLEVEL" Value="1">DSU_INSTALL_MODE="quick"</Publish>
          <Publish Event="SetProperty" Property="INSTALLLEVEL" Value="200">DSU_INSTALL_MODE="custom"</Publish>
          <Publish Event="SetProperty" Property="DSU_SCOPE" Value="user">DSU_SCOPE=""</Publish>
          <Publish Event="NewDialog" Value="ScopeDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Dialog Id="ScopeDlg" Width="370" Height="270" Title="[ProductName] Setup">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="340" Height="15" Transparent="yes" NoPrefix="yes"
                 Text="{\WixUI_Font_Title}Select Scope" />
        <Control Id="Description" Type="Text" X="20" Y="23" Width="330" Height="30"
                 Text="Choose where Dominium will be installed." />
        <Control Id="ScopeRadio" Type="RadioButtonGroup" X="20" Y="60" Width="330" Height="80" Property="DSU_SCOPE">
          <RadioButtonGroup Property="DSU_SCOPE">
            <RadioButton Value="user" X="0" Y="0" Width="300" Height="17" Text="Per-user (no admin rights)" />
            <RadioButton Value="system" X="0" Y="20" Width="300" Height="17" Text="Per-machine (all users)" />
            <RadioButton Value="portable" X="0" Y="40" Width="300" Height="17" Text="Portable" />
          </RadioButtonGroup>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="InstallModeDlg">1</Publish>
        </Control>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next">
          <Publish Event="SetProperty" Property="ALLUSERS" Value="1">DSU_SCOPE="system"</Publish>
          <Publish Event="SetProperty" Property="ALLUSERS" Value="2">DSU_SCOPE="user" OR DSU_SCOPE="portable"</Publish>
          <Publish Event="SetProperty" Property="MSIINSTALLPERUSER" Value="1">DSU_SCOPE="user" OR DSU_SCOPE="portable"</Publish>
          <Publish Event="SetProperty" Property="INSTALLDIR" Value="[ProgramFilesFolder]Dominium">DSU_SCOPE="system"</Publish>
          <Publish Event="SetProperty" Property="INSTALLDIR" Value="[LocalAppDataFolder]Dominium">DSU_SCOPE="user"</Publish>
          <Publish Event="SetProperty" Property="INSTALLDIR" Value="[PersonalFolder]DominiumPortable">DSU_SCOPE="portable"</Publish>
          <Publish Event="NewDialog" Value="InstallDirDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="OperationDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceWelcomeDlg">Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="SetProperty" Property="DSU_OPERATION" Value="install">DSU_OPERATION=""</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="Next" Event="SetProperty" Property="DSU_OPERATION" Value="upgrade">WixUI_InstallMode="Change"</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Next" Event="SetProperty" Property="DSU_OPERATION" Value="repair">WixUI_InstallMode="Repair"</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Next" Event="SetProperty" Property="DSU_OPERATION" Value="uninstall">WixUI_InstallMode="Remove"</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Next" Event="NewDialog" Value="InstallModeDlg">WixUI_InstallMode="Change"</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">WixUI_InstallMode="Repair" OR WixUI_InstallMode="Remove"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="ScopeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">DSU_INSTALL_MODE="custom"</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">DSU_INSTALL_MODE<>"custom"</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg">DSU_INSTALL_MODE="custom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">DSU_INSTALL_MODE<>"custom"</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Next" Event="EndDialog" Value="Return">1</Publish>
    </UI>
  </Fragment>
</Wix>
