/*
FILE: source/dominium/setup/installers/windows_legacy/win9x/src/win9x_resources.rc
MODULE: Dominium Setup (Win9x)
PURPOSE: Resource definitions for Win9x legacy installer.
*/
#include <windows.h>

1 VERSIONINFO
 FILEVERSION 0,0,0,1
 PRODUCTVERSION 0,0,0,1
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Dominium"
      VALUE "FileDescription", "Dominium Setup (Win9x Legacy)"
      VALUE "FileVersion", "0.0.0.1"
      VALUE "ProductName", "Dominium Setup"
      VALUE "ProductVersion", "0.0.0.1"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
